// This file generates styles.css
//CONSTANTS


$pink: #C24F72; // breast
$red: #C21824; // melanoma
$blue: #3566C2; // colon
$yellow: #FFCC33; // appendix


$purple: #4D0092;
$blue_light: #8BC6FF;

$blue_med: #6084AD;
$purple_med: #A9579A;
$purple_light: #E6D9E8;

// $orange: #F5A623;

$text_default: #4A4A4A;
$text_light: #706E6B;
$text_dark: #545454;
$text_link: #0070d2;
$text_confirm: #417505;
$text_error: #FF0000;

$border_med: #dddbda;

$screen_xs: 480px;
$screen_sm: 768px;
$screen_md: 992px;
$screen_lg: 1200px;
$screen_xlg: 1600px;

@font-face {
  font-family: 'Kiro';
  src: url('../fonts/kiro/Kiro_W03_Regular/Kiro_W03_Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/kiro/Kiro_W03_Regular/Kiro_W03_Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/kiro/Kiro_W03_Regular/Kiro_W03_Regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/kiro/Kiro_W03_Regular/Kiro_W03_Regular.woff') format('woff'), /* Pretty Modern Browsers */
  url('../fonts/kiro/Kiro_W03_Regular/Kiro_W03_Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('../fonts/kiro/Kiro_W03_Regular/Kiro_W03_Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'KiroBold';
  src: url('../fonts/kiro/Kiro_W03_ExtraBold/Kiro_W03_ExtraBold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/kiro/Kiro_W03_ExtraBold/Kiro_W03_ExtraBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/kiro/Kiro_W03_ExtraBold/Kiro_W03_ExtraBold.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/kiro/Kiro_W03_ExtraBold/Kiro_W03_ExtraBold.woff') format('woff'), /* Pretty Modern Browsers */
  url('../fonts/kiro/Kiro_W03_ExtraBold/Kiro_W03_ExtraBold.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('../fonts/kiro/Kiro_W03_ExtraBold/Kiro_W03_ExtraBold.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'KiroLight';
  src: url('../fonts/kiro/Kiro_W03_Light/Kiro_W03_Light.eot'); /* IE9 Compat Modes */
  src: url('../fonts/kiro/Kiro_W03_Light/Kiro_W03_Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/kiro/Kiro_W03_Light/Kiro_W03_Light.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/kiro/Kiro_W03_Light/Kiro_W03_Light.woff') format('woff'), /* Pretty Modern Browsers */
  url('../fonts/kiro/Kiro_W03_Light/Kiro_W03_Light.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('../fonts/kiro/Kiro_W03_Light/Kiro_W03_Light.svg#svgFontName') format('svg'); /* Legacy iOS */
}


//MIXINS

//Text mixins

@mixin text_bold {
  font-family: 'KiroBold', Arial, sans-serif;
}
@mixin text_light {
    font-family: 'KiroLight', Arial, sans-serif;
  }

@mixin text_italic {
  //font-family if different
  font-style: italic;
}

@mixin text-truncate {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
 }

@mixin reset-button {
   border: none;
   margin: 0;
   padding: 0;
   width: auto;
   overflow: visible;

   background: transparent;

   /* inherit font & color from ancestor */
   color: inherit;
   font: inherit;

   /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
   line-height: normal;

   /* Corrects font smoothing for webkit */
   -webkit-font-smoothing: inherit;
   -moz-osx-font-smoothing: inherit;

   /* Corrects inability to style clickable `input` types in iOS */
   -webkit-appearance: none;

   border-radius: 0.5rem;
   padding: 0.2rem 0.4rem;
   text-align: center;



}

// Accessibility mixins

@mixin screen-reader-only {
  position: absolute;
  top: 0;
  left: -5000px;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

// Design Pattern mixins

@mixin card {
  position: relative;
  padding: 1rem;
  background: white;
//  border: 1px solid $border_med;
//  border-radius: 0.25rem;
//  background-clip: padding-box;
//  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
}

@mixin set-colors($type) {
  
  @if $type == "background" {
    .csr-layout__main_colon & {
      background-color: $blue;
      color: #fff;
    }
    .csr-layout__main_breast & {
      background-color: $pink;
      color: #fff;
    }
    .csr-layout__main_melanoma & {
      background-color: $red;
      color: #fff;
    }
  
    .csr-layout__main_appendix & {
      background-color: $yellow;
      color: $text_dark;
    }
  }
  @else if $type == "text" {
    .csr-layout__main_colon & {
      color: $blue;
    }
    .csr-layout__main_breast & {
      color: $pink;
    }
    .csr-layout__main_melanoma & {
      color: $red;
    }
  
    .csr-layout__main_appendix & {
      color: $yellow;
    }
  }
}


 //SPECIFIC CLASSES
 
 //LAYOUT
html {
  font-size: 20px;
  font-family: 'Kiro', Arial, sans-serif;
  color: $text_dark;
}

a {
  color: $purple;
  text-decoration: none;
  &:hover {
      text-decoration: underline;
  }
}

.hidden {
  display: none;
}

.csr-header__logo {
  text-align: center;
//  @include text_bold;
}

.csr-logo_purple {
  color: $purple;  
}
.csr-logo_blue {
  color: $blue_light; 
}
 .csr-layout {
  display: flex;
  align-items: center;
  justify-content: center;
 }
 .csr-layout__wrapper {
  @include card;
  width: 425px;
}
.csr-layout__header {
//  border-bottom: 1px solid $border_med;
  margin-bottom: 0.5rem;
}
.csr-layout__footer {
//  border-top: 1px solid $border_med;
  text-align: center;
  @include text_light;
}

.csr-start {
  font-size: 3rem;
  line-height: 3.75rem;
  
  p {
    margin: 0;
  }
}
.csr-start div,
.csr-start button {
  z-index: 1;
}
.csr-start__title {
  @include screen-reader-only;
}
.scr-start__selector-wrapper {
  position: relative;
  display: inline-block;
  border-bottom: 4px solid $purple_light;
}
.scr-start__selector {

  background-color: transparent;
  border: none;
  
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 0;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  font-size: inherit;
  line-height: inherit;
  font-family: inherit;
  position: relative;
  z-index: 3;
  padding-right: 2rem;
  
  &.scr-start__selector_user {
    color: $blue_light;
  }
  
  &.scr-start__selector_bigc {
    color: $purple_med;
  }
  
  


}


.scr-start__selector-icon {
  font-size: 1rem;
  color: $purple;
  position: absolute;
  z-index: 2;
  top: 1.5rem;
  right: 0;
  .fa-angle-down {
    display: none;
  }
  &.scr-start__selector-icon_is-open {
    .fa-angle-down {
      display: inline-block;
    }
    .fa-angle-right {
      display: none;
    }
  }
}


.scr-start__selector:focus + .scr-start__selector-icon {
  color: transparent;
}


.scr-start__selector-text {
  @include text-bold;
  display: inline-block;
  text-align: left;
  width: 150px;
  color: $purple;
  border-bottom: 3px solid $purple;
  font-size: 1rem;
  padding-bottom: 3px;
}
.scr-start__menu {
  width: 150px;
  position: absolute;
  border: 1px solid $border_med;
  background-color: #fff;
  z-index: 99;
  overflow: visible;
  top: 45px;
  display: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0px 4px 3px 0px rgba(0,0,0,0.51);
  &.scr-start__menu_is-open {
    display: block;
  }
}
.scr-start__menu-btn {
  display: block;
  border: none;
  width: 100%;
  padding: 5px;
  font-size: 1rem;
  z-index: 99;
  background: transparent;
  &:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;  
  }
  &:hover {
    background-color: #efefef;
  }
}

.scr-start__actions {
  width: 100%;
  text-align: center;
}
.csr-start__submit {
  font-size: 1.5rem;
  line-height: 1.5rem;
  border-radius: 8px;
  padding: 10px 150px 15px 150px;
  background-color: $purple;
  color: #fff;
  margin: 15px auto;
  font-family: inherit;
}

.scr-calc__header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  @include set-colors("background");
 
}
.scr-calc__title {
  font-size: 1.25rem;
  text-transform: uppercase;
  @include text_light;
}
.src-calc__user-type {
    position: relative;
    background: #fff;
    border-radius: 34px;
    font-size: .75rem;
    //height: 1.25rem;
    line-height: 1.25rem;
    color: #000;
    padding: 0 10px 0 25px;
    margin-left: 20px;
    > span:first-child {
        display: block;
        position: absolute;
        top: 5px;
        left: 5px;
        width: 15px;
        height: 15px;
        border-radius: 50%;

        @include set-colors("background");
    }
    .src-calc__user-type-info {
      @include screen-reader-only;
    }
}
.src-calc__user-type-button {
  @include reset-button;
}
.scr-calc__form {
  background-color: #efefef;
  text-align: center;
}
.scr-calc__fieldset {
  border: none;
}
.scr-calc__fieldset-title {
  @include text_light;
  text-align: center;
}
.src-calc__cta-help {
  border: none;
  background: transparent;
  color: #fff;
  font-size: 1.25rem;
  margin-right: 20px;
}
.src-calc__cta-help-text {
  @include screen-reader-only;
}

.src-calc__results {
  margin-top: 1rem;
  border-bottom: 1px solid $border_med;
}

.src-calc__percentage {
    @include text_bold;
    font-size: 4rem;
    line-height: 4.5rem;
    @include set-colors("text");
    display: inline-block;
    min-width: 9rem;
    vertical-align: middle;
}

.src-calc__rate {
  line-height: 4.5rem;
  display: inline-block;
  vertical-align: middle;
}
.src-calc__description {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}
.desc-text,
.desc-visual {
    display: block;
    width: 50%;
}
.src-calc__desc-icon {
  color: #ccc;
  &.src-calc__desc-icon_selected {
    @include set-colors("text");
  }
}

.scr-calc__footer {
  position: relative;
  padding-right: 100px;
}

.src-calc__filter {
  @include reset-button;
  margin-bottom: 0.5rem;
  background-color: $text_dark;
  color: #fff;

  &_active {
    background-color: $text_light;
  }
  &.src-calc__cta-share {
    position: absolute;
    right: 0;
  }
}

.src-calc__select-button {
  @include reset-button;
  background-color: $purple;
  color: #fff;

  &.active {
    background-color: $purple_med;
  }
  
  .src-calc__select-wrapper_grade & {
    margin-bottom: 1rem;
  }
}


/* SLIDER */

.slidecontainer {
  display: inline-block;
  width: 60%; /* Width of the outside container */
}

/* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}


/* END SLIDER */


.scr-calc__update {
  display: block;
  font-size: 1.5rem;
  line-height: 1.5rem;
  border-radius: 8px;
  padding: 10px 150px 15px 150px;
  background-color: $purple;
  color: #fff;
  margin: 15px auto;
}